<html>
  <head>
      <title>Add Dream</title>
      {%include "__bootstrap.html"%}
  </head>
  <body>
   {%include "__navigation.html"%}
  <div class="container mt-4" style="max-width: 550px;">
      <h1>Add a new dream</h1>
      {%if message%}
        <div class="alert alert-success">{{message}}</div>
      {%endif%}
      <div class="card">
      <div class="card-body">
      <form method="post" action="/create-dream">
          <div class="form-group">
              <label>Dream title</label>
              <input name="title" type="text" placeholder="Enter dream title" class="form-control"/>
          </div>
          <div class="form-group">
              <label>What happened in the dream?</label>
              <textarea name="description" class="form-control" rows="4"></textarea>
          </div>
          <div class="form-group">
            <label>Mood</label>
              <select name="mood" class="form-control">
                  <option value="Happy">Happy</option>
                  <option value="Scary">Scary</option>
                  <option value="Confusing">Confusing</option>
                  <option value="Sad">Sad</option>
                  <option value="Exciting">Exciting</option>
              </select>
          </div>
          <button type="submit" class="btn btn-secondary">Save dream</button>
      </form>
      </div>
      </div>
  </div>
  </body>
</html>
